.homebody{
   background-image: url("/public/images/fundohome.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.fundo{
    width: 100%;
    height: 100%;
    background-color: #ffde59c9;
}

.content{
   
    height: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.burgerimg{
    margin-top: 20px;
}

.texts{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 190px;
    max-width: 800px;
    
}



.title{
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

.text{
    font-size: 1.7em;
    text-align: center;
    margin-top: 30px;
   
}

@media(min-width: 1150px){
    .homebody{
        height: 100vh;
    }
    }

@media(max-width: 1300px){
    

}

@media(max-width: 480px){
    
    
    }
    